.git/
.github/
.idea/
.vs/
.vscode/

**/bin/
**/obj/
**/TestResults/
artifacts/
coverage/

**/node_modules/
**/dist/
**/.angular/cache/
**/.npm/

.env
.env.*
!.env.example

*.log
Dockerfile*
docker-compose*.yml
README.md